body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

header.main-header {
  min-width: 1160px;
  background-color: #eeeeee;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation a {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.main-header-logo {
  margin-top: 49px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-top: 75px;
}

.main-navigation li {
  padding-right: 48px;
}

.main-navigation .basket {
  position: relative;

  display: block;
  padding-left: 41px;
}

.basket::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 6px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
}

.shop {
  padding-bottom: 10px;
  box-shadow: 0 2px #fb565a;
}

.page-title-wrapper {
  margin: 0;
  margin-bottom: 55px;
  min-width: 1160px;

  background-color: #eeeeee;
}

.slider-container {
  box-sizing: border-box;

  width: 1160px;
  margin: 0 auto;
}

.slider-item-button {
  text-decoration: none;
}

.slider {
  position: relative;
  min-width: 1160px;

  margin-bottom: 80px;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  vertical-align: baseline;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls .active::before {
content: "";
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;

}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item-button {
  display: block;
  width: 240px;
  padding: 16px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-item-button:hover,
.slider-item-button:focus {
  background-color: #e74246;
}

.slider-item-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.page-title {
  width: 760px;
  margin: 0 auto;
  padding-top: 71px;
  padding-bottom: 108px;
  padding-left: 35px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.products-wrapper {
  width: 1160px;
  margin: 0 auto;
}

.products-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 1100px;
}

.products-item {
  width: 300px;
}

.products-list {
  list-style: none;
}

.products-item {
  display: flex;
  flex-direction: column;
}

.products-item img {
  margin-bottom: 27px;

  order: 1;
}

.products-item p {
  width: 260px;
  margin: 0;
  margin-bottom: 33px;

  order: 3;
}

.products-item h3 {
  margin: 0;
  margin-bottom: 14px;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  order: 2;
}

.products-item .btn {
  width: 160px;
  padding: 16px 0;
  margin-bottom: 80px;
  text-align: center;

  font-size: 16px;
  line-height: 18px;

  color:#ffffff;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  border-radius: 3%;

  order: 4;
}

.button-sites {
  background-color: #fb565a;
  cursor: pointer;
}

.button-application {
  background-color: #00ca74;
  cursor: pointer;
}

.button-presentation {
  background-color: #efc84a;
  cursor: pointer;
}

.button-sites:hover {
  background-color: #e74246;
}

.button-application:hover {
  background-color: #00bc6c;
}
.button-presentation:hover {
  background-color: #eab534;
}

.products-item .btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-site:active {
  background-color: #d7373b;
  box-shadow: 0px 3px #c13135 inset;
  color: #e06366;
}

.button-application:active {
  background-color: #00aa62;
  box-shadow: 0px 3px #009958 inset;
  color: #4dc491;
}

.button-presentation:active {
  background-color: #e5a722;
  box-shadow: 0px 3px #ce961f inset;
  color: #edc265;
}

.about-us {
  width: 660px;
  margin-bottom: 75px;
}

.about-us h2 {
  margin: 0;
  margin-top: 75px;
  margin-bottom: 34px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-us h3 {
  margin: 0;
  margin-top: 37px;
  margin-bottom: 25px;

  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.about-us p {
  margin: 0;
}

.about-us ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-us li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 24px;
}

.about-us li:last-child {
  margin-bottom: 0;
}

.about-us li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.features {
  width: 360px;
}

.features-logo {
  margin-top: 40px;
  margin-bottom: 30px;
}

.features-table {
  margin: 0;
  padding: 0;

  border-collapse: collapse;
  border-spacing: 0;
}

.features-table caption {
  margin-bottom: 40px;

  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.features-table th {
  height: 45px;
  width:33%;

  font-size: 45px;
  line-height: 10px;
  color: #000000;
  text-align: left;
}

.features-table td {
  padding: 0;
  padding-top: 19px;

  font-size: 16px;
  line-height: 18px;

  text-align: left;
}

.partners {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 78px;

  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
}

.partners a {
  display: flex;
  justify-content: space-around;
  width: 260px;
  min-height: 180px;
  align-items: center;
}

.partners-logo {
  opacity: 0.5;
}

.partners-logo:hover {
  opacity: 1;
}

.partners-logo:active {
  opacity: 0.3;
}

.map {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.map-wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

}

.map-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.map-container img {
  width: 100%;
}

.map-container iframe {
  position: absolute;
  z-index: 2;
  width: 100%;
  border: 0;
}

.map-contacts {
  position: absolute;
  top: 54px;
  left: 140px;

  width: 319px;

  background-color: #ffffff;
  z-index: 3;
}

.map-contacts b {
  display: block;
  padding-left: 50px;
  margin-top: 48px;
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 30px;
  color: black;
}

.map-contacts p {
  padding-left: 50px;
  width: 205px;

  font-size: 16px;
  line-height: 18px;
}

.map-contacts-tel {
  padding-left: 50px;
  width: 205px;

  font-size: 16px;
  line-height: 18px;
  color:inherit;
  text-decoration: none;
}

.map-button {
  display: block;
  width: 219px;
  margin-top: 33px;
  margin-left: 50px;
  margin-bottom: 47px;
  padding: 16px 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  text-align: center;

  background-color: #fb565a;
  border: none;
  border-radius: 3%;

  cursor: pointer;
}

 .map-marker-wrapper {
  position: absolute;
  top: 90px;
  left: 820px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
   }
  }

  @keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.feedback {
  display: none;
  position: fixed;
  top: 100px;

  width: 960px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-left: 310px;

  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

h2.feedback-title {
  margin: 0;
  padding: 0;
  padding-top: 68px;
  margin-left: 97px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.feedback-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
  margin-left: 100px;
  margin-top: 40px;
}

.feedback label {
  margin-bottom: 9px;

  font-size: 16px;
  line-height: 18px;
  color: #000000;
  font-weight: bold;
}

.feedback-form input[type="text"] {
  padding: 0 14px;
  margin-bottom: 34px;

  width: 328px;
  height: 46px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

 .feedback-form input[type="text"]:hover,
 .feedback textarea:hover {
  border-color: #b4b9bb;
}

 .feedback-form input[type="text"]:focus,
 .feedback textarea:focus {
  outline: none;
  border-color: #000000;
}

.feedback-form input[type="text"]:invalid {
  border-color: #e74246;
}

.feedback input,
.feedback label {
  display: block;
}

.feedback textarea {
  padding: 12px 13px;
  margin-bottom: 40px;
  width: 728px;
  min-height: 90px;

  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.feedback input::-webkit-input-placeholder {
  opacity: 0.3;
}

.feedback textarea::-webkit-input-placeholder {
  opacity: 0.3;
}

.feedback input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.feedback textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}

.feedback button {
  border: none;
}

.feedback button[type="submit"] {
  width: 260px;
  min-height: 50px;
  padding: 0;
  margin-bottom: 84px;

  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
  border-radius: 3px;

  background-color: #fb565a;
  cursor: pointer;
}

.feedback p {
  margin: 0;
}

.feedback-close {
  position: absolute;
  top: 72px;
  left: 845px;

  width: 30px;
  height:30px;
  padding: 0;

  background-color: transparent;

  cursor: pointer;
}

.feedback-close::before,
.feedback-close::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 2px;

  width: 26px;
  height: 4px;

  background-color: #fecccd;
}

.feedback-close:hover::before,
.feedback-close:focus::before {
  background-color: #fb565a;
}

.feedback-close:hover::after,
.feedback-close:focus::after {
  background-color: #fb565a;
}

.feedback-close:active::before {
  background-color: #ffeeee;
}

.feedback-close:active::after {
  background-color: #ffeeee;
}

.feedback-close::before {
  transform: rotate(45deg);
}

.feedback-close::after {
  transform: rotate(-45deg);
}

.filter-item {
  margin: 0;
  padding: 0;
  margin-bottom: 56px;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: baseline;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.form {
  width: 260px;
}

.form legend {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.form ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form label {
  font-size: 16px;
  line-height: 20px;

  color: #283136;
}

.fieldset-features,
.fieldset-grid {
  padding: 0;
  margin: 0;

  border: none;
}

.fieldset-grid {
  margin-bottom: 23px;
}

.fieldset-grid legend,
.fieldset-features legend {
  margin-bottom: 15px;
}

.filter-option {
  display: flex;
  margin-bottom: 21px;
  padding-left: 36px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -34px;
  top: -3px;

  width: 16px;
  height: 16px;

  border: 4px solid #b8b8b8;
  border-radius: 50%;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before {
  border-color: #4d4d4d;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: -26px;

  width: 8px;
  height: 8px;

  background-color: #b8b8b8;
  border-radius: 50%;
}

.filter-input-radio + label:hover::after,
.filter-input-radio + label:focus::after {
  background-color: #4d4d4d;
}

.filter-input-checkbox + label::before {
  content: url("../img/checkbox-off.svg");
  position: absolute;
  left: -34px;
  top: -3px;

  width: 23px;
  height: 23px;

  opacity: 0.5;
}

.filter-input-checkbox:checked + label::before {
  content: url("../img/checkbox-on.svg");
}

.filter-input-checkbox + label:hover::before {
  opacity: 1;
}

.filter-option input[type="radio"],
.filter-option input[type="checkbox"] {
  cursor: pointer;
}

.form button {
  width: 260px;
  height: 50px;

  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  border: none;
  background-color: #eeeeee;
  margin-top: 26px;

  cursor: pointer;
}

.form button:active {
  background-color: #d5d5d5;
  box-shadow: 0 3px #bfbfbf inset;
}

.form button:hover,
.form button:focus {
  background-color: #dfdfdf;
}

.sort {
  display: flex;
  justify-content: flex-start;

  width: 760px;
  margin-bottom: 52px;
}

.sort b {
  width: 160px;
  padding: 0;
  margin: 0;
  margin-right: 240px;

  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sort-list {
  display: flex;
  justify-content: space-between;

  width: 360px;
  padding: 0;
  margin: 0;

  list-style:none;
}

.sort li:last-child {
  width: 60px;
}

.sort-list a:hover,
.sort-list a:focus {
  opacity: 0.5;
}

.sort-list a:active {
  opacity: 1;
}

.sort-list a {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.3;
}

a.arrow {
  display: inline-block;
  vertical-align: baseline;

  font-size: 0;
}

.arrow::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;

  border: 10px solid #000000;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
}

.arrow-up::before {
  margin-right: 16px;
  margin-left: 20px;

  border-bottom-width: 0;
}

.arrow-down::before {
  border-top-width: 0;
}

.main-catalog-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 760px;

  list-style: none;
}

.catalog-list li {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
  width: 360px;
  height: 616px;
}

.catalog-item:hover path {
  fill: #4d4d4d;
}

.catalog-item:hover .catalog-item-popup {
  display: block;
}

.catalog-item:hover {
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}
.catalog-list img {
 height: 576px;
 width: 360px;
 margin-top: -7px;
 padding-top: 46px;

 z-index: 1;
}

.catalog-list svg {
 position: absolute;
}

.catalog-item-popup {
  display: none;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 360px;
  min-height: 231px;

  z-index: 2;

  background-color: #eeeeee;
}

.catalog-item-popup a {
  text-decoration: none;
}

.catalog-item-popup h3:hover {
  color: #fb565a;
}

.catalog-item-popup h3:active {
  color: #000000;
  opacity: 0.3;
}

.catalog-item-popup h3 {
  padding: 0;
  margin-top: 27px;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-popup p {
  padding: 0 auto;
  margin: 0;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 18px;
  color: #666666;

}

.catalog-item-popup button {
  width: 200px;
  height: 50px;
  padding: 0;

  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;

  border: none;
  border-radius: 3px;
  background-color: #fb565a;

  cursor: pointer;
}

.catalog-item-popup button:hover {
  background-color: #e74246;
}

.catalog-item-popup button:active {
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.bread-crumbs {
  display: flex;
  font-weight: 500;
  margin: 0;
  margin-left: 400px;
  margin-top: 27px;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;
}

.bread-crumbs-item:last-child a {
  padding: 16px 78px
}

.bread-crumbs li:first-child {
  width: 44px;
  height: 44px;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.bread-crumbs li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 11px;
}

.bread-crumbs a {
  display: block;
  padding: 16px 21px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #eeeeee;
  border-radius: 3%;
}

.bread-crumbs-item:last-child a:hover,
.bread-crumbs-item:last-child a:focus,
.bread-crumbs a:hover,
.bread-crumbs a:focus {
  background-color: #dfdfdf;
}

.bread-crumbs-item:last-child a:active,
.bread-crumbs a:active {
  background-color: #d5d5d5;
  box-shadow: 0 3px #bfbfbf inset;
}

.footer-wrapper {
  width: 0 auto;
  margin: 0;
  padding: 0;

}

.main-footer
.footer-social b {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-social p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.footer-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.main-footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-right: 140px;
  margin-top: 65px;
  width: 260px;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:hover path,
.social-button:focus path {
  fill: #ffffff;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: 0 3px #c13135 inset;
}

.social-button:active path {
  fill: #e37376;
}

.footer-social {
  margin-top: 70px;
}

.footer-social p {
  margin-top: 9px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
